.App {
  text-align: center;
}

.App-header {
  display: flex;
  color: white;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.AnimeCharImage{
  width: 300px;
  height: 300px;
}

.btnContainer{
  display: flex;
  justify-content: space-around;
}

.iconsContainer{
  height: 40px;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
}

h5{
  margin: 0 auto;
}

.btnContainer button{
  border: none;
  width: 7.4rem;
  height: 1.8rem;
  color: rgba(255, 255, 255, 0.635);
  font-size: medium;
  border-radius: 0.4rem;
  background-color: #282c84;
}
.btnContainer button:hover{
  color: rgba(255, 255, 255);
}